<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.downtowncoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.DownTownCoCApp"
        android:allowBackup="true"
        android:icon="@drawable/android_icon_72x72"
        android:label="@string/app_name"
        android:roundIcon="@drawable/android_icon_36x36"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:icon="@drawable/android_icon_36x36" />
        <activity
            android:name=".activities.BibleActivity"
            android:icon="@drawable/bible_icon"
            android:parentActivityName=".activities.HomeNewActivity" />
        <activity
            android:name=".activities.VisionMissionActivity"
            android:icon="@drawable/about_us"
            android:label="About Us"
            android:parentActivityName=".activities.HomeNewActivity" />
        <activity
            android:name=".activities.FragmentsActivity"
            android:icon="@drawable/android_icon_36x36"
            android:parentActivityName=".activities.HomeNewActivity" />

        <service
            android:name=".services.PDTService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".activities.HomeNewActivity"
            android:icon="@drawable/android_icon_36x36"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.HomeNewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.downtowncoc.activities.HomeNewActivity" />
        </activity>

        <receiver
            android:name=".receivers.NetworkSettingsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>